:root {
    --color-1:hsla(213, 67%, 30%, 0.365);
    --color-2:hsl(213, 67%, 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color:#cee0ef;
}

/* scrollbar ----------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* global ----------------------------------------------------------- */

.df {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ch-maxw100 > *{
    max-width: 100%;
}

.aifs {
    align-items: flex-start;
}
.ais {
    align-items: stretch;
}


.jcfs {
    justify-content: flex-start;
}
.jcsb {
    justify-content: space-between;
}
.jcsa {
    justify-content: space-around;
}
.jcse {
    justify-content: space-evenly;
}

/* header ----------------------------------------------------------- */
header {
    background-color: var(--color-1);
    color: var(--color-2);
    padding: .5em;

}

/* searcg column ---------------------------------------------------------- */

#searchBtn {
    background-color: var(--color-2);
    color: white;
}

.divider{
    background-color: var(--color-1);
    height: 2px;
}

input {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.li-btn {
    background-color: var(--color-1);
    color: var(--color-2);
    font-weight: bold;
}

/* cards ----------------------------------------------------------------- */

.box {
    border: 3px solid var(--color-1);
    border-radius: .5em;
}

.weather-card {
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
}

.fist-card img {
    position:absolute;
    height: 90%;
    bottom: 0;
    right: 0;
}

.card {
    min-width: fit-content;
    background-color: var(--color-1);
}